.DS_Store
.bundle
.ruby-version
*.kpf

# ignore the rails project that is copied over into the gem
f3-gem/lib/generators/f3/templates/f3-rails

f3-rails/.powrc
f3-rails/.rvmrc
f3-rails/.sass-cache/
f3-rails/_build/*
f3-rails/config/database.yml
f3-rails/config/database.yml.template
f3-rails/config/deploy.rb
f3-rails/config/dispatch_daemon.yml
f3-rails/config/s3.yml
f3-rails/config/settings.yml
f3-rails/db/*.sqlite3
f3-rails/db/help/index
f3-rails/doc/api
f3-rails/doc/app
f3-rails/index/*
f3-rails/log/*.log
f3-rails/public/assets/*
f3-rails/public/webstats
f3-rails/public/system/*
f3-rails/script/dispatch_daemon_fetcher
f3-rails/rails_best_practices_output.html
f3-rails/tmp/**/*
f3-rails/tmp/tags
f3-rails/vendor/ruby

nbproject/*
